@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Georgia', 'Montserrat Variable', sans-serif;
  letter-spacing: 0.45px;
}
@layer base {
  html {
    @apply scroll-smooth;
  }
}

.font-handwritten {
  letter-spacing: 0.75px;
}

b {
  /* font-family: 'Santis W01 Regular'; */
  /* font-size: 95%; */
}
